.mixer  {
  width: 100%;
  position: relative;
  height: 54vh;
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track-component-container  {
  width: 78%;
  height: 94%;
  margin-top: 7px;
  /* background: red; */
  position: relative;
  overflow: hidden;
  left: 44px;
  border-radius: 30px;
  border: solid 2px #666666;
}


.black-background-track {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}
