.login-container  {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*background: red;*/
  z-index: 4;
  animation-name: loginSlide;
  animation-duration: .5s;
}

@keyframes loginSlide {
  0% {
      left: -1000px;
  }
  100% {
      left: 0px;
  }
}

.error {
  position: absolute;
font-family: "Varela Round", sans-serif;
z-index: 1001;
top: 43px;
left: 220px;
font-size: 16px;
color: red;
}

.close-button {
  position: absolute;
    top: 8px;
    right: 10px;
    z-index: 100;
    height: 30px;
    font-size: 27px;
    width: 30px;
    background: red;
    border-radius: 20px;
    color: white;
    border: solid 2px #c8a85f;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Varela Round", sans-serif;
      box-shadow: inset 9px 4px 23px #5d4837;
      animation-name: ButtonGlass;
      animation-duration: 1s;
        animation-iteration-count: infinite;
}

@keyframes ButtonGlass {
  0% {
      opacity: 1;
  }
  50% {
      opacity: .7;
  }
  100% {
      opacity: 1;
  }
}

.close-button:hover{
  cursor: pointer;
}

.login-title  {
  position: absolute;
    font-family: "Varela Round", sans-serif;
    /* font-family: 'Lobster', cursive; */
    z-index: 1001;
    top: 3px;
    left: 189px;
    font-size: 39px;
    color: #c8a85f;
}

.login-username {
  position: absolute;
    top: 70px;
    font-size: 15px;
    left: 157px;
    width: 300px;
    height: 25px;
    z-index: 100;
    border: solid 3px #c8a85f;
    border-radius: 5px;
}

.login-password {
  position: absolute;
    top: 110px;
      font-size: 15px;
    left: 157px;
    width: 300px;
    height: 25px;
    z-index: 100;
    border: solid 3px #c8a85f;
    border-radius: 5px;
}

.login-button {
  position: absolute;
top: 154px;
right: 216px;
z-index: 100;
height: 30px;
font-size: 27px;
width: 123px;
background: red;
border-radius: 20px;
color: white;
border: solid 2px #c8a85f;
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
font-family: "Varela Round", sans-serif;
  box-shadow: inset 9px 4px 23px #5d4837;
  animation-name: ButtonGlass;
  animation-duration: 2s;
    animation-iteration-count: infinite;
}

.login-button:hover {
  cursor: pointer;
  background: green;
}
