*,
*:after,
*:before {
  box-sizing: 'border-box';
  margin: 0;
}

.App {
  width: 100%;
  min-width: 1200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-container {
  width: 100%;
    min-width: 1200px;
  height: 100vh;
  position: absolute;
  z-index: -1000;
  overflow: hidden;
}

.background-image {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.component-container  {
  /*width: 100%;*/
  width: 1200px;
  /*min-width: 1000px;*/
  height: 100%;
  /*position: absolute;
  top: 0;
  left: 0;
  z-index: 1;*/
}

.controls-container {
  width: 100%;
  display: flex;
}

.lower-control-left-box  {
  width: 50%;
  height: 72vh;
}

.lower-control-right-box  {
  width: 50%;
  height: 72vh;
}
