.controls {
  width: 100%;
  height: 15%;
  /*background: orange;*/
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.controls-title {
  font-family: 'Yellowtail', cursive;
      font-size: 26px;
      position: absolute;
      top: -27px;
      left: 139px;
      color: white;
      color: #c8a85f;
}

.controls-component-background  {
  width: 78%;
  height: 90%;
  /*background: red;*/
  left: 44px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  border: solid 2px #666666;
}

.black-background-controls {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.gold-button-bezel  {
  width: 68%;
  position: absolute;
  z-index: 100;
}

.controls-button-glass  {
  width: 67%;
  border-radius: 10px;
  height: 56%;
  position: absolute;
  z-index: 99;
  background: orange;
  opacity: .7;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 9px 4px 23px #5d4837;
  animation-name: controlsButtonGlass;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes controlsButtonGlass {
  0% {
      box-shadow: inset 9px 4px 18px #5d4837;
      opacity: 1;
  }
  50% {
      box-shadow: inset 9px 4px 23px #5d4837;
      opacity: .7;
  }
  100% {
      box-shadow: inset 9px 4px 23px #5d4837;
      opacity: 1;
  }
}


.control-button-label {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: white;
}

.upper-button-container {
  height: 45%;
    width: 74%;
    top: 6px;
    left: 122px;
    z-index: 2;
    /*background: green;*/
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button-container {
  width: 33.333%;
  height: 100%;
  /*background: red;*/
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button-container:hover {
  cursor: pointer;
}

.login-button-container:hover .login-glass  {
  background: green;
}

.create-button-container {
  width: 33.333%;
  height: 100%;
  /*background: red;*/
  left: 148px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button-container:hover {
  cursor: pointer;
}

.create-button-container:hover .create-glass  {
  background: green;
}

.logOut-button-container {
  width: 33.333%;
  height: 100%;
  /*background: red;*/
  left: 296px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logOut-button-container:hover {
  cursor: pointer;
}

.logOut-button-container:hover .logOut-glass  {
  background: green;
}

.lower-button-container {
  height: 45%;
    width: 74%;
    top: 43px;
    left: 122px;
    z-index: 2;
    /*background: orange;*/
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-button-container {
  width: 33.333%;
  height: 100%;
  /*background: red;*/
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-button-container:hover {
  cursor: pointer;
}

.upload-button-container:hover .upload-glass  {
  background: green;
}

.save-button-container {
  width: 33.333%;
  height: 100%;
  /*background: red;*/
  left: 148px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button-container:hover {
  cursor: pointer;
}

.save-button-container:hover .save-glass  {
  background: green;
}

.saveAs-button-container {
  width: 33.333%;
  height: 100%;
  /*background: red;*/
  left: 296px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveAs-button-container:hover {
  cursor: pointer;
}

.saveAs-button-container:hover .saveAs-glass  {
  background: green;
}

.glass-loggedIn {
  background: red;
}

.login-button-container:hover .glass-loggedIn  {
  background: red;
}

.create-button-container:hover .glass-loggedIn  {
  background: red;
}
