.track-controls {
  width: 100%;
    height: 61%;
    margin-top: 50px;
    /* background: blue; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.track-controls-inner-box {
  position: relative;
  width: 581px;
  height: 367px;
  /*background: yellow;*/
}

.audio-controls-backdrop  {
  width: 580px;
  height: 342px;
  border-radius: 31px;
  border: solid 2px #666666;
}
